@model RickAndMorty.Web.Models.CharactersListViewModel;

@{
    ViewData["Title"] = "CharactersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CharactersList</h1>

<p>
    <a asp-action="AddCharacter">Create New</a>
</p>

@if (Model == null || Model.Characters.Count() == 0)
{
    <p>No characters found</p>
}
else
{
    <table>
        <tr>
            <td>
                @if(Model.PreviousPageUrl != null)
                {
                   
                    <a href="@Model.PreviousPageUrl">Previous page</a>
                    @:<<
                }
            </td>
            <td>
                @if(Model.NextPageUrl != null)
                {
                 @:>> 
                 <a href="@Model.NextPageUrl">Next page</a>
                }
            </td>
        </tr>
    </table>


    <table class="table">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    name
                </th>
                <th>
                    status
                </th>
                <th>
                    planet
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Characters)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.planet)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.planet))
                        {
                            @Html.ActionLink($"View only planet {item.planet}", "CharactersList", "Characters", new { planet = @item.planet })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

